on:
  workflow_dispatch:

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: oracle-actions/setup-java@v1
        with:
          feature: 19
      - run: jar --create --file a.jar --date 2022-09-20T00:00Z LICENSE README.md
      - run: sha256sum a.jar
